.edit-form__btn-save {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  margin-top: 48px;
  border: none;
  border-radius: 2px;
  min-height: 50px;
}

@media screen and (max-width: 425px) {
  .edit-form__btn-save {
    font-size: 14px;
    min-height: 46px;
    margin-top: 44px;
  }
}