.popup__container {
  background: #fff;
  border-radius: 10px;
  min-width: 430px;
  /* min-height: 330px; */
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}

@media screen and (max-width: 550px) {
  .popup__container {
    min-width: 282px;
  }
}