.edit-form__field {
  border: none;
  border-bottom: 1px solid black;
  margin-top: 30px;
  line-height: 2;
  font-size: 14px;
  font-weight: 400;
}

/* @media screen and (max-width: 425px) {
  .edit-form__field {
    
  }
} */